.topnav {
    background-color: #12a2db;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: none;
    background-color: #142a77;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #49be29;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0b26ac;
    color: white;
}
body{
    background-color: #525252;
}
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

body {
    font-family: 'Roboto';font-size: 16px;
}

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #01fde8 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: #01f7ff;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #01e8fd;
    border-radius: 25px;
    color: #01cbfd;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: #01b6fd none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #41eef4;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
#contact{
    background-color: #5a79d4;
    letter-spacing: 2px;
}
#contact a{
    color: #fff;
    text-decoration: none;
}


@media (max-width: 575.98px) {

    #contact{padding-bottom: 800px;}
    #contact .maps iframe{
        width: 100%;
        height: 450px;
    }
}


@media (min-width: 576px) {

    #contact{padding-bottom: 800px;}

    #contact .maps iframe{
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 768px) {

    #contact{padding-bottom: 350px;}

    #contact .maps iframe{
        width: 100%;
        height: 850px;
    }
}

@media (min-width: 992px) {
    #contact{padding-bottom: 200px;}

    #contact .maps iframe{
        width: 100%;
        height: 700px;
    }
}


#author a{
    color: #fff;
    text-decoration: none;

}
#userRegistration{
    background-color: #70b8c4;
    letter-spacing: 2px;
}
#userRegistration{

}
#userRegistration a{
    color: #ffffff;
    text-decoration: none;
}

#search a{
    background-color: #70c3be;
    letter-spacing: 2px;
}
#search a{
    color: #fff;
    text-decoration: none;
}
#homepage {
    background-color: #70c3be;
    letter-spacing: 2px;
}


