<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="common-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="topnav">

        <p></p>
        <a href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/search"><i class="fa fa-fw fa-search"></i> Products</a>
        <a href="/login"><i class="fa fa-fw fa-user"></i> Login</a>
        <a href="/userRegistration"><i class="fa fa-fw fa-user"></i>Register</a>
        <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="/aboutUs">About us</a>

    </div>
</div>

<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">




</div>

