<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<div th:replace="common-navbar"></div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
      integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="row" id="contact">
    <div class="container mt-5">

        <div class="row" style="height:550px;">
            <div class="col-md-6 maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977"
                        frameborder="0" style="border:0" allowfullscreen></iframe>


            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase mt-3 font-weight-bold text-white">CONTACT</h2>
                <form action="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Name/Company" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Subject" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control mt-2" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="number" class="form-control mt-2" placeholder="Phone number" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                          placeholder="Enter the text here " rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                           required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Accept the terms and conditions
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-light" type="submit">Send</button>
                        </div>
                    </div>
                </form>
                <div class="text-white">
                    <h2 class="text-uppercase mt-4 font-weight-bold">location</h2>

                    <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+40) 740707036</a><br>
                    <i class="fa fa-envelope mt-3"></i> <a href="">lucaalinmariandumitru@gmail.com</a><br>
                    <i class="fas fa-globe mt-3"></i> Colosseum, Roma , Italy<br>

                    <div class="my-4">
                        <a href="https://www.facebook.com/PrestigeCover"><i
                                class="fab fa-facebook fa-3x pr-4"></i></a>
                        <br>
                        <a href="https://www.linkedin.com/in/luca-alin-490b36203/"><i class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row text-center bg-success text-white" id="author">
    <div class="col-12 mt-4 h3 ">
        <a href="#">by Lukas</a>
    </div>
    <div class="col-12 my-2">
        <a href="https://www.linkedin.com/in/luca-alin-490b36203/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
    </div>
</div>

