<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:replace="common-navbar"></div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet"
      href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fsuper-car&psig=AOvVaw1vNY8oDzlGzSCY5NVrXPyl&ust=1615232939135000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCAx975nu8CFQAAAAAdAAAAABAD">


<div class="container">

    <br>
    <h2 class="aboutus-title centered-form">Here you can see our cars available for renting</h2>
    <p class="text-center"></p>
    <hr>

    <div class="row">
        <aside class="col-sm-4">
            <p>Filter 1</p>


            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Brands </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <form>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
				          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Renault
				  </span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
				     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Seat
				  </span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
				     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Ford
				  </span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
				     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  BMW
				  </span>
                                </label> <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
				     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Opel
				  </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Volkswagen
				  </span>
                                </label>  <!-- form-check.// -->
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Tesla
				  </span>
                                </label>  <!-- form-check.// -->
                            </form>

                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->

                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Choose fuel type </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <label class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                <span class="form-check-label">
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Diesel
			  </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                <span class="form-check-label">
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gasoline
			  </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                <span class="form-check-label">
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hybrid
			  </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                <span class="form-check-label">
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Electric
			  </span>
                            </label>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->


        </aside> <!-- col.// -->
        <aside class="col-sm-4">
            <p>Filter 2</p>


            <div class="card">
                <article class="card-group-item">
                    <header class="card-header"><h6 class="title">Transmission </h6></header>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            </label> <!-- form-check.// -->
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
				     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Manual
				  </span>
                                <p></p>
                            </label> <!-- form-check.// -->
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
				     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Automatic
				  </span>

                        </div>
                </article> <!-- card-group-item.// -->
                <article class="card-group-item">
                    <header class="card-header"><h6 class="title">Color check</h6></header>
                    <div class="filter-content">
                        <div class="card-body">
                            <label class="btn btn-danger">
                                <input class="" type="checkbox" name="myradio" value="">
                                <span class="form-check-label">Red</span>
                            </label>
                            <label class="btn btn-success">
                                <input class="" type="checkbox" name="myradio" value="">
                                <span class="form-check-label">Green</span>
                            </label>
                            <label class="btn btn-primary">
                                <input class="" type="checkbox" name="myradio" value="">
                                <span class="form-check-label">Blue</span>
                            </label>
                            <label class="btn btn-dark">
                                <input class="" type="checkbox" name="myradio" value="">
                                <span class="form-check-label">Black</span>
                            </label>
                            </label>
                            <label class="btn btn-secondary">
                                <input class="" type="checkbox" name="myradio" value="">
                                <span class="form-check-label">Gray</span>

                            </label>
<p></p>

                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->

                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Did you complete selecting from our ofer? </h6>
                    </header>
                    <div class="filter-content">
                        <input type="submit" value="Submit " class="btn btn-info btn-block">
            </div> <!-- card.// -->


        </aside> <!-- col.// -->
        <aside class="col-sm-4">
            <p>Filter 3</p>


            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Price per day </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input type="number" class="form-control" id="inputEmail4" placeholder="50 lei">
                                </div>
                                <div class="form-group col-md-6 text-right">
                                    <label>Max</label>
                                    <input type="number" class="form-control" placeholder="500 lei">
                                </div>
                            </div>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Days to rent </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="custom-control custom-checkbox">
                                <span class="float-right badge badge-light round"></span>
                                <input type="checkbox" class="custom-control-input" id="Check1">
                                <label class="custom-control-label" for="Check1">1 day</label>
                            </div> <!-- form-check.// -->

                            <div class="custom-control custom-checkbox">
                                <span class="float-right badge badge-light round"></span>
                                <input type="checkbox" class="custom-control-input" id="Check2">
                                <label class="custom-control-label" for="Check2">2 days</label>
                            </div> <!-- form-check.// -->

                            <div class="custom-control custom-checkbox">
                                <span class="float-right badge badge-light round"></span>
                                <input type="checkbox" class="custom-control-input" id="Check3">
                                <label class="custom-control-label" for="Check3">3 days</label>
                            </div> <!-- form-check.// -->

                            <div class="custom-control custom-checkbox">
                                <span class="float-right badge badge-light round"></span>
                                <input type="checkbox" class="custom-control-input" id="Check4">
                                <label class="custom-control-label" for="Check4">4 days</label>
                            </div> <!-- form-check.// -->
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->


        </aside> <!-- col.// -->
    </div> <!-- row.// -->

</div>
<!--container end.//-->


<br><br>
<article class="bg-secondary mb-3">
    <div class="card-body text-center">
        <h4 class="text-white">Information about our company <br> You can contact us using Facebook,Whats up,Email or at
            the number bellow </h4>
        <p class="h5 text-white"> Phone number (+4)0740707037
        </p>   <br>
        <div class="my-4">
            <a href="https://www.facebook.com/PrestigeCover"><i
                    class="fab fa-facebook fa-3x pr-4"></i></a>
            <br>
            <br>
            <p><a class="btn btn-warning" target="_blank" href="https://www.facebook.com/PrestigeCover">
                https://www.facebook.com/PrestigeCover
                <i class="fa fa-window-restore "></i></a></p>
        </div>
        <br><br>
</article>
