<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div th:replace="common-navbar"></div>



<table>
    <thead>
    <tr>
        <th> name </th>
        <th> price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.empty}">
        <td colspan="2"> No Products Available </td>
    </tr>
    <tr th:each="product : ${products}">
        <td><span th:text="${product.name}"> Title </span></td>
        <td><span th:text="${product.price}"> Author </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
