<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Cars in stock</title>
</head>
<body>
<div th:replace="common-navbar"></div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br>
<p></p>
</script>
<section>
    <div class="container" th:object="${cars}">
        <h1 class="heading">Cars available</h1>
        <div class="card-wrapper">
            <div class="card" th:each="car: ${cars}">

                <img th:src="@{/images/background.png}" alt="card background" class="card-img">
                <img th:src="${car.imagePath}" alt="profile image" class="profile-img">
                <h1><p class="brand" th:text="${car.brand}"></p></h1>
                <p class="fuel" th:text="${car.fuel}"></p>
                <p class="color" th:text="${car.color}"></p>
                <p class="transmission" th:text="${car.transmission}"></p>
                <p class="price" th:text="${car.price}"></p>
                <p class="photo_url" th:text="${car.photo_url}"></p>
                <p class="quantity" th:text="${car.quantity}"></p>
                <!--                <a th:href="/contact/{id}(id=${doctor.id})" class="btn">Contact</a>-->
<!--                <a th:href="@{'/contact/' + ${doctor.id}}" class="btn">Contact</a>-->


            </div>

        </div>

    </div>
</section>

</body>
</html>
